<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ILP_BasicProgramming_Assignment_27102023/src/com/ilp/basicprogramming_assignment/Q12PatternPrint.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ilp.basicprogramming_assignment.Q12PatternPrint"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ILP_BasicProgramming_Assignment_27102023"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ILP_BasicProgramming_Assignment_27102023"/>
</launchConfiguration>
